/*
 *
 * Copyright 2020 Adobe
 * All Rights Reserved.
 *
 * NOTICE: Adobe permits you to use, modify, and distribute this file in
 * accordance with the terms of the Adobe license agreement accompanying
 * it. If you have received this file from a source other than Adobe,
 * then your use, modification, or distribution of it requires the prior
 * written permission of Adobe.
 *
 */
pre {
    line-height: 1.2;
    font-size: 14px;
    word-wrap: normal;
    padding: 0.5rem;
    display: block;
    overflow-x: auto;
    border-radius: 3px;
    border: 1px solid rgba(193, 193, 193, 0.639);
    position: relative;
}
pre > code {
    padding: 0;
    margin: 0;
    font-size: 90%;
    word-break: normal;
    white-space: pre-wrap;
    border: 0;
}

code {
    font-size: 14px;
}
