/*
 *
 * Copyright 2020 Adobe
 * All Rights Reserved.
 *
 * NOTICE: Adobe permits you to use, modify, and distribute this file in
 * accordance with the terms of the Adobe license agreement accompanying
 * it. If you have received this file from a source other than Adobe,
 * then your use, modification, or distribution of it requires the prior
 * written permission of Adobe.
 *
 */
._coral-Body, body {
    font-size: 16px;
}

._coral-Search {
    margin: 8px;
}

._coral-SideNav--multiLevel ._coral-SideNav ._coral-SideNav ._coral-SideNav ._coral-SideNav-itemLink {
    padding-left: 48px;
}

._coral-SideNav--multiLevel ._coral-SideNav ._coral-SideNav ._coral-SideNav ._coral-SideNav ._coral-SideNav-itemLink {
    padding-left: 60px;
}
._coral-Alert {
    display: block;
}

#TableOfContents ul {
    padding-left: 0;
    font-size: 14px;
}

#TableOfContents li {
    list-style: none;
    display: block;
}

#TableOfContents li li {
    margin-left: 0.7rem;
}

img {
    max-width: 100%;
    height: auto;
}

fixed-grid-columns {
    --columns: 12;
    grid-column-start: 1;
}

.grid {
    display: grid;
    grid-gap: 130px;
    grid-template-columns: repeat(auto-fit, minmax(386px, 1fr));
}

.grid>* {
    height: 200px;
}
