/**
 *
 * general setting
 *
 */
.grid-2-col {
  grid-template-columns: 200px 200px; }

.grid-3-col {
  grid-template-columns: 200px 200px 200px; }

/**
 *
 * display grid
 *
 */
.grid-columns {
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: repeat(12, 1fr); }

.grid.grid-height-200 {
  height: 200px;
  grid-template-columns: 1fr 1fr; }

.grid {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 1em;
  margin-bottom: 1em; }

/*=============================================
=            justify content            =
=============================================*/
.justify-content-normal {
  -webkit-box-pack: normal;
  -webkit-justify-content: normal;
  -ms-flex-pack: normal;
  justify-content: normal; }

.justify-content-start {
  -webkit-box-pack: start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: start; }

.justify-content-end {
  -webkit-box-pack: end;
  -webkit-justify-content: end;
  -ms-flex-pack: end;
  justify-content: end; }

.justify-content-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.justify-content-around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.justify-content-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.justify-content-evenly {
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }

.justify-content-baseline {
  -webkit-box-pack: baseline;
  -webkit-justify-content: baseline;
  -ms-flex-pack: baseline;
  justify-content: baseline; }

.justify-content-first-baseline {
  -webkit-box-pack: first baseline;
  -webkit-justify-content: first baseline;
  -ms-flex-pack: first baseline;
  justify-content: first baseline; }

.justify-content-last-baseline {
  -webkit-box-pack: last baseline;
  -webkit-justify-content: last baseline;
  -ms-flex-pack: last baseline;
  justify-content: last baseline; }

/*===== End of justify content  ======*/
/*=============================================
=            align content            =
=============================================*/
.align-content-normal {
  -webkit-align-content: normal;
  -ms-flex-line-pack: normal;
  align-content: normal; }

.align-content-start {
  -webkit-align-content: start;
  -ms-flex-line-pack: start;
  align-content: start; }

.align-content-end {
  -webkit-align-content: end;
  -ms-flex-line-pack: end;
  align-content: end; }

.align-content-center {
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center; }

.align-content-around {
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around; }

.align-content-between {
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between; }

.align-content-evenly {
  -webkit-align-content: space-evenly;
  -ms-flex-line-pack: space-evenly;
  align-content: space-evenly; }

.align-content-baseline {
  -webkit-align-content: baseline;
  -ms-flex-line-pack: baseline;
  align-content: baseline; }

.align-content-first-baseline {
  -webkit-align-content: first baseline;
  -ms-flex-line-pack: first baseline;
  align-content: first baseline; }

.align-content-last-baseline {
  -webkit-align-content: last baseline;
  -ms-flex-line-pack: last baseline;
  align-content: last baseline; }

/*=====  End of align content  ======*/
/*=============================================
=            justify items            =
=============================================*/
.justify-item-auto {
  justify-items: auto; }

.justify-item-normal {
  justify-items: normal; }

.justify-item-start {
  justify-items: start; }

.justify-item-center {
  justify-items: center; }

.justify-item-end {
  justify-items: end; }

.justify-item-stretch {
  justify-items: stretch; }

.justify-item-baseline {
  justify-items: baseline; }

.justify-item-first-baseline {
  justify-items: first baseline; }

.justify-item-last-baseline {
  justify-items: last baseline; }

/*=====  End of justify items  ======*/
/*=============================================
=            align items            =
=============================================*/
.align-items-auto {
  -webkit-box-align: auto;
  -webkit-align-items: auto;
  -ms-flex-align: auto;
  align-items: auto; }

.align-items-normal {
  -webkit-box-align: normal;
  -webkit-align-items: normal;
  -ms-flex-align: normal;
  align-items: normal; }

.align-items-start {
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start; }

.align-items-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.align-items-end {
  -webkit-box-align: end;
  -webkit-align-items: end;
  -ms-flex-align: end;
  align-items: end; }

.align-items-stretch {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.align-items-baseline {
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

.align-items-first-baseline {
  -webkit-box-align: first baseline;
  -webkit-align-items: first baseline;
  -ms-flex-align: first baseline;
  align-items: first baseline; }

.align-items-last-baseline {
  -webkit-box-align: last baseline;
  -webkit-align-items: last baseline;
  -ms-flex-align: last baseline;
  align-items: last baseline; }

/*=====  End of align items  ======*/
/*=============================================
=            justify self            =
=============================================*/
.justify-self-auto {
  -ms-grid-column-align: auto;
  justify-self: auto; }

.justify-self-normal {
  -ms-grid-column-align: normal;
  justify-self: normal; }

.justify-self-start {
  -ms-grid-column-align: start;
  justify-self: start; }

.justify-self-end {
  -ms-grid-column-align: end;
  justify-self: end; }

.justify-self-center {
  -ms-grid-column-align: center;
  justify-self: center; }

.justify-self-stretch {
  -ms-grid-column-align: stretch;
  justify-self: stretch; }

.justify-self-baseline {
  justify-self: baseline;
  -ms-grid-column-align: baseline; }

.justify-self-first-baseline {
  -ms-grid-column-align: first baseline;
  justify-self: first baseline; }

.justify-self-last-baseline {
  -ms-grid-column-align: last baseline;
  justify-self: last baseline; }

/*=====  End of justify self  ======*/
/*=============================================
=            align self            =
=============================================*/
.align-self-auto {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto; }

.align-self-normal {
  -webkit-align-self: normal;
  -ms-flex-item-align: normal;
  -ms-grid-row-align: normal;
  align-self: normal; }

.align-self-start {
  -webkit-align-self: start;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start; }

.align-self-center {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }

.align-self-end {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end; }

.align-self-stretch {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch; }

.align-self-baseline {
  -webkit-align-self: baseline;
  -ms-flex-item-align: baseline;
  align-self: baseline; }

.align-self-first-baseline {
  -webkit-align-self: first baseline;
  -ms-flex-item-align: first baseline;
  -ms-grid-row-align: first baseline;
  align-self: first baseline; }

.align-self-last-baseline {
  -webkit-align-self: last baseline;
  -ms-flex-item-align: last baseline;
  -ms-grid-row-align: last baseline;
  align-self: last baseline; }

/*=====  End of align self  ======*/
.width-1\/12 {
  grid-column: span 1;
  -ms-grid-column-span: 1; }

.width-2\/12 {
  grid-column: span 2;
  -ms-grid-column-span: 2; }

.width-3\/12 {
  grid-column: span 3;
  -ms-grid-column-span: 3; }

.width-4\/12 {
  grid-column: span 4;
  -ms-grid-column-span: 4; }

.width-5\/12 {
  grid-column: span 5;
  -ms-grid-column-span: 5; }

.width-6\/12 {
  grid-column: span 6;
  -ms-grid-column-span: 6; }

.width-7\/12 {
  grid-column: span 7;
  -ms-grid-column-span: 7; }

.width-8\/12 {
  grid-column: span 8;
  -ms-grid-column-span: 8; }

.width-9\/12 {
  grid-column: span 9;
  -ms-grid-column-span: 9; }

.width-10\/12 {
  grid-column: span 10;
  -ms-grid-column-span: 10; }

.width-11\/12 {
  grid-column: span 11;
  -ms-grid-column-span: 11; }

.width-12\/12 {
  grid-column: span 12;
  -ms-grid-column-span: 12; }

.box {
  padding-top: 15px;
  padding-bottom: 15px;
  background: #f6f6f6;
  color: #232323;
  text-align: center; }
.box p {
  padding: 0 5px; }

.grid .grid > .box {
  background: #e0e0e0; }

@media screen and (max-width: 576px) {
  .width-1\/12,
  .width-2\/12,
  .width-3\/12,
  .width-4\/12,
  .width-5\/12,
  .width-6\/12,
  .width-7\/12,
  .width-8\/12,
  .width-9\/12,
  .width-10\/12,
  .width-11\/12,
  .width-12\/12 {
    grid-column: span 12;
    -ms-grid-column-span: 12; }
  .width-1\/12\@xs {
    grid-column: span 1 !important;
    -ms-grid-column-span: 1 !important; }
  .width-2\/12\@xs {
    grid-column: span 2 !important;
    -ms-grid-column-span: 2 !important; }
  .width-3\/12\@xs {
    grid-column: span 3 !important;
    -ms-grid-column-span: 3 !important; }
  .width-4\/12\@xs {
    grid-column: span 4 !important;
    -ms-grid-column-span: 4 !important; }
  .width-5\/12\@xs {
    grid-column: span 5 !important;
    -ms-grid-column-span: 5 !important; }
  .width-6\/12\@xs {
    grid-column: span 6 !important;
    -ms-grid-column-span: 6 !important; }
  .width-7\/12\@xs {
    grid-column: span 7 !important;
    -ms-grid-column-span: 7 !important; }
  .width-8\/12\@xs {
    grid-column: span 8 !important;
    -ms-grid-column-span: 8 !important; }
  .width-9\/12\@xs {
    grid-column: span 9 !important;
    -ms-grid-column-span: 9 !important; }
  .width-10\/12\@xs {
    grid-column: span 10 !important;
    -ms-grid-column-span: 10 !important; }
  .width-11\/12\@xs {
    grid-column: span 11 !important;
    -ms-grid-column-span: 11 !important; }
  .width-12\/12\@xs {
    grid-column: span 12 !important;
    -ms-grid-column-span: 12 !important; } }

@media screen and (min-width: 577px) and (max-width: 767px) {
  .width-1\/12\@sm {
    grid-column: span 1;
    -ms-grid-column-span: 1 !important; }
  .width-2\/12\@sm {
    grid-column: span 2;
    -ms-grid-column-span: 2 !important; }
  .width-3\/12\@sm {
    grid-column: span 3;
    -ms-grid-column-span: 3 !important; }
  .width-4\/12\@sm {
    grid-column: span 4;
    -ms-grid-column-span: 4 !important; }
  .width-5\/12\@sm {
    grid-column: span 5;
    -ms-grid-column-span: 5 !important; }
  .width-6\/12\@sm {
    grid-column: span 6;
    -ms-grid-column-span: 6 !important; }
  .width-7\/12\@sm {
    grid-column: span 7;
    -ms-grid-column-span: 7 !important; }
  .width-8\/12\@sm {
    grid-column: span 8;
    -ms-grid-column-span: 8 !important; }
  .width-9\/12\@sm {
    grid-column: span 9;
    -ms-grid-column-span: 9 !important; }
  .width-10\/12\@sm {
    grid-column: span 10;
    -ms-grid-column-span: 10 !important; }
  .width-11\/12\@sm {
    grid-column: span 11;
    -ms-grid-column-span: 11 !important; }
  .width-12\/12\@sm {
    grid-column: span 12;
    -ms-grid-column-span: 12 !important; } }

@media (min-width: 768px) and (max-width: 991.99px) {
  .width-1\/12\@md {
    grid-column: span 1;
    -ms-grid-column-span: 1 !important; }
  .width-2\/12\@md {
    grid-column: span 2;
    -ms-grid-column-span: 2 !important; }
  .width-3\/12\@md {
    grid-column: span 3;
    -ms-grid-column-span: 3 !important; }
  .width-4\/12\@md {
    grid-column: span 4;
    -ms-grid-column-span: 4 !important; }
  .width-5\/12\@md {
    grid-column: span 5;
    -ms-grid-column-span: 5 !important; }
  .width-6\/12\@md {
    grid-column: span 6;
    -ms-grid-column-span: 6 !important; }
  .width-7\/12\@md {
    grid-column: span 7;
    -ms-grid-column-span: 7 !important; }
  .width-8\/12\@md {
    grid-column: span 8;
    -ms-grid-column-span: 8 !important; }
  .width-9\/12\@md {
    grid-column: span 9;
    -ms-grid-column-span: 9 !important; }
  .width-10\/12\@md {
    grid-column: span 10;
    -ms-grid-column-span: 10 !important; }
  .width-11\/12\@md {
    grid-column: span 11;
    -ms-grid-column-span: 11 !important; }
  .width-12\/12\@md {
    grid-column: span 12;
    -ms-grid-column-span: 12 !important; } }

@media (min-width: 992px) and (max-width: 1199.99px) {
  .width-1\/12\@lg {
    grid-column: span 1;
    -ms-grid-column-span: 1 !important; }
  .width-2\/12\@lg {
    grid-column: span 2;
    -ms-grid-column-span: 2 !important; }
  .width-3\/12\@lg {
    grid-column: span 3;
    -ms-grid-column-span: 3 !important; }
  .width-4\/12\@lg {
    grid-column: span 4;
    -ms-grid-column-span: 4 !important; }
  .width-5\/12\@lg {
    grid-column: span 5;
    -ms-grid-column-span: 5 !important; }
  .width-6\/12\@lg {
    grid-column: span 6;
    -ms-grid-column-span: 6 !important; }
  .width-7\/12\@lg {
    grid-column: span 7;
    -ms-grid-column-span: 7 !important; }
  .width-8\/12\@lg {
    grid-column: span 8;
    -ms-grid-column-span: 8 !important; }
  .width-9\/12\@lg {
    grid-column: span 9;
    -ms-grid-column-span: 9 !important; }
  .width-10\/12\@lg {
    grid-column: span 10;
    -ms-grid-column-span: 10 !important; }
  .width-11\/12\@lg {
    grid-column: span 11;
    -ms-grid-column-span: 11 !important; }
  .width-12\/12\@lg {
    grid-column: span 12;
    -ms-grid-column-span: 12 !important; } }