{{/*

Copyright 2020 Adobe
All Rights Reserved.

NOTICE: Adobe permits you to use, modify, and distribute this file in
accordance with the terms of the Adobe license agreement accompanying
it. If you have received this file from a source other than Adobe,
then your use, modification, or distribution of it requires the prior
written permission of Adobe.

*/}}
<!doctype html>
<html lang="{{ .Site.Language.Lang }}" class="no-js">
<head>
  {{ partial "head.html" . }}
  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>
</head>
<body class="coral--lightest">
{{ if not .Site.Params.ui.navbar_disable }}
<header>
<coral-shell>
  {{ partial "navbar.html" . }}
</coral-shell>
</header>
{{ end }}

<input type="checkbox" class="hidden" id="menu-control" />
<main class="container flex">
  <!-- Left menu Content -->
  <aside class="page-menu">
    {{ template "leftPanel" . }}
  </aside>
  <div class="page-content">
    <div class="page-header">
      <!-- Mobile layout header -->
      {{ template "mobileHeader" . }}
      <aside class="hidden clearfix">
        {{ template "rightPanel" . }}
      </aside>
    </div>
    <!-- Page Content -->
    <article>
      {{ template "main" . }}
    </article>
    <label for="menu-control" class="hidden page-menu-overlay"></label>
  </div>
  <aside class="page-toc">
    {{ template "rightPanel" . }} <!-- Table of Contents -->
  </aside>
</main>
</body>
</html>

{{ define "leftPanel" }}
  {{ partial "sidebar-tree.html" . }}
{{ end }}

{{ define "main" }}
  {{ if not .Site.Params.ui.breadcrumb_disable }}{{ partial "breadcrumb.html" . }}{{ end }}
  {{ .Render "content" }}
{{ end }}

{{ define "rightPanel" }}
  {{ partial "toc.html" . }}
{{ end }}

{{ define "mobileHeader" }}
  {{ partial "mobile-header.html" . }}
{{ end }}
