{{/*

Copyright 2020 Adobe
All Rights Reserved.

NOTICE: Adobe permits you to use, modify, and distribute this file in
accordance with the terms of the Adobe license agreement accompanying
it. If you have received this file from a source other than Adobe,
then your use, modification, or distribution of it requires the prior
written permission of Adobe.

*/}}
<!doctype html>
<html lang="{{ .Site.Language.Lang }}" class="no-js">
<head>
  {{ partial "head.html" . }}
  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>
</head>
<body class="coral--lightest">
{{ if not .Site.Params.ui.navbar_disable }}
<coral-shell>
  {{ partial "navbar.html" . }}
  <coral-shell-content>
{{ end }}
    <div class="spectrum-grid fixed-grid-columns">
      <div style="grid-column: 1/2;">
        {{ block "leftPanel" . }}
          {{ partial "sidebar-tree.html" . }}
        {{ end }}
      </div>
      <div style="grid-column: 2/11;">
        <main role="main">
          {{ block "main" . }}
            {{ if not .Site.Params.ui.breadcrumb_disable }}{{ partial "breadcrumb.html" . }}{{ end }}
            {{ .Render "content" }}
          {{ end }}
        </main>
        <div class="u-coral-margin"><br/></div>
      </div>
      <div style="grid-column: 11/12;">
        {{ block "rightPanel" . }}
          {{ partial "toc.html" . }}
        {{ end }}
      </div>
    </div>
{{ if not .Params.nonavbar }}
  </coral-shell-content>
</coral-shell>
{{ end }}
</body>
</html>
