{{/*

Copyright 2020 Adobe
All Rights Reserved.

NOTICE: Adobe permits you to use, modify, and distribute this file in
accordance with the terms of the Adobe license agreement accompanying
it. If you have received this file from a source other than Adobe,
then your use, modification, or distribution of it requires the prior
written permission of Adobe.

*/}}
{{ define "leftPanel" }}&nbsp;{{ end }}
{{ define "rightPanel" }}&nbsp;{{ end }}
{{ define "main" }}
<section>
	<div>
		<h2 class="coral-Heading--2">{{ .Title }}</h2>
		<div id="search-results">
			<hr>
		</div>

		{{ if eq .Site.Params.searchType "fuse" }}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/7.1.0/fuse.min.js"></script>
		<script type="text/javascript" src="{{ $.Site.BaseURL }}/js/fuse-search.js"></script>
		{{ end }}

		{{ if eq .Site.Params.searchType "stork" }}
		<script type="text/javascript" src="{{ $.Site.BaseURL }}/js/stork.js"></script>
		{{ $jsStorkSearch := resources.Get "js/stork-search.js" | resources.ExecuteAsTemplate "js/stork-search.js" .Site.Home }}
		<script type="text/javascript" src="{{ $jsStorkSearch.Permalink }}"> </script>
		{{ end }}

		<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
		<script id="search-result-template" type="text/x-js-template">
			<div id="summary-${key}">
				<h3 class="coral-Heading--3"><a class="coral-Link" href="${link}">${ isset parent }${parent}/${ end }${title}</a></h3>
				<p>${snippet}</p>
				${ isset tags }<p><b>Tags:</b> ${tags}</p> ${ end }
				${ isset categories }<p><b>Categories:</b> ${categories}</p>${ end }
			</div>
		</script>
	</div>
</section>
{{ end }}
