<!--/*
*
*    ADOBE CONFIDENTIAL
*    ___________________
*
*    Copyright 2020 Adobe Systems Incorporated
*    All Rights Reserved.
*
*    NOTICE:  All information contained herein is, and remains
*    the property of Adobe Systems Incorporated and its suppliers,
*    if any.  The intellectual and technical concepts contained
*    herein are proprietary to Adobe Systems Incorporated and its
*    suppliers and are protected by all applicable intellectual property
*    laws, including trade secret and copyright laws.
*    Dissemination of this information or reproduction of this material
*    is strictly forbidden unless prior written permission is obtained
*    from Adobe Systems Incorporated.
*
*/-->
<div class="u-coral-margin">
	{{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
</div>
{{ define "breadcrumbnav" }}
{{ if .p1.Parent }}
{{ if not .p1.Parent.IsHome }}
{{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  }}
{{ end }}
{{ else if not .p1.IsHome }}
{{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
{{ end }}
{{ $isActive :=  eq .p1 .p2  }}
	<a class="coral-Link" href="{{ .p1.Permalink }}" title="{{ .p1.LinkTitle }}">{{ .p1.LinkTitle }}</a> /
{{ end }}
