{{/*

Copyright 2020 Adobe
All Rights Reserved.

NOTICE: Adobe permits you to use, modify, and distribute this file in
accordance with the terms of the Adobe license agreement accompanying
it. If you have received this file from a source other than Adobe,
then your use, modification, or distribution of it requires the prior
written permission of Adobe.

*/}}
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/coral.min.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/spectrum-css-grid.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/codeblocks.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/coral-extended.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/markdeep.css">
{{ range .Site.Params.custom_css -}}
    <link rel="stylesheet" href="{{ . | absURL }}">
{{- end }}

