<!--/*
*
*    ADOBE CONFIDENTIAL
*    ___________________
*
*    Copyright 2020 Adobe Systems Incorporated
*    All Rights Reserved.
*
*    NOTICE:  All information contained herein is, and remains
*    the property of Adobe Systems Incorporated and its suppliers,
*    if any.  The intellectual and technical concepts contained
*    herein are proprietary to Adobe Systems Incorporated and its
*    suppliers and are protected by all applicable intellectual property
*    laws, including trade secret and copyright laws.
*    Dissemination of this information or reproduction of this material
*    is strictly forbidden unless prior written permission is obtained
*    from Adobe Systems Incorporated.
*
*/-->
{{ $langPage := cond (gt (len .Translations) 0) . .Site.Home }}
<coral-select id="coral-language-selector">
	<coral-select-item value="{{ .RelPermalink }}" selected="">
		{{ $langPage.Language.LanguageName }}
	</coral-select-item>
	{{ range $langPage.Translations }}
	<coral-select-item value="{{ .RelPermalink }}">
		{{ .Language.LanguageName }}
	</coral-select-item>
	{{ end }}
</coral-select>
