<!--/*
*
*    ADOBE CONFIDENTIAL
*    ___________________
*
*    Copyright 2020 Adobe Systems Incorporated
*    All Rights Reserved.
*
*    NOTICE:  All information contained herein is, and remains
*    the property of Adobe Systems Incorporated and its suppliers,
*    if any.  The intellectual and technical concepts contained
*    herein are proprietary to Adobe Systems Incorporated and its
*    suppliers and are protected by all applicable intellectual property
*    laws, including trade secret and copyright laws.
*    Dissemination of this information or reproduction of this material
*    is strictly forbidden unless prior written permission is obtained
*    from Adobe Systems Incorporated.
*
*/-->
{{ with .Params.tags}}
<div class="u-coral-pullRight">
  <coral-taglist readonly="">
    {{ range . }}
    {{ $tagName := . }}
    {{ with $.Site.GetPage (printf "/%s/%s" "tags" ($tagName | urlize)) }}
    <coral-tag><a class="coral-Link" href="{{ .Permalink }}">{{ $tagName }}</a></coral-tag>
    {{ end }}
    {{ end }}
  </coral-taglist>
</div>
{{ end }}
