{{/*

Copyright 2020 Adobe
All Rights Reserved.

NOTICE: Adobe permits you to use, modify, and distribute this file in
accordance with the terms of the Adobe license agreement accompanying
it. If you have received this file from a source other than Adobe,
then your use, modification, or distribution of it requires the prior
written permission of Adobe.

*/}}
<div class="page-meta-links">
{{ if .Path }}
{{ $gh_repo := ($.Param "github_repo") }}
{{ $gh_subdir := ($.Param "github_subdir") }}
{{ $gh_project_repo := ($.Param "github_project_repo") }}
{{ if $gh_repo }}
{{ $editURL := printf "%s/edit/master/%s/content/%s" $gh_repo $gh_subdir .Path }}
<a style="padding-left: 0px" is="coral-anchorlist-item" href="{{ $editURL }}" icon="GitHub" target="_blank">{{ T "post_edit_this" }}</a>
{{ end }}
{{ end }}
</div>
