{{/*

Copyright 2020 Adobe
All Rights Reserved.

NOTICE: Adobe permits you to use, modify, and distribute this file in
accordance with the terms of the Adobe license agreement accompanying
it. If you have received this file from a source other than Adobe,
then your use, modification, or distribution of it requires the prior
written permission of Adobe.

*/}}
<div id="content">
{{ if and (not .Params.notoc) (gt (len .TableOfContents) 32)  }}
  {{ with .TableOfContents }}
    {{ if ge (len .) 2 }}
      {{ $tocContent := replace . "a href" "a class='coral-Link' href" }}
      
      {{ $tocContent | safeHTML }}
    {{ end }}
  {{ end }}
{{ end }}

{{ partial "page-meta-links.html" . }}
</div>
