<!--/*
*
*    ADOBE CONFIDENTIAL
*    ___________________
*
*    Copyright 2020 Adobe Systems Incorporated
*    All Rights Reserved.
*
*    NOTICE:  All information contained herein is, and remains
*    the property of Adobe Systems Incorporated and its suppliers,
*    if any.  The intellectual and technical concepts contained
*    herein are proprietary to Adobe Systems Incorporated and its
*    suppliers and are protected by all applicable intellectual property
*    laws, including trade secret and copyright laws.
*    Dissemination of this information or reproduction of this material
*    is strictly forbidden unless prior written permission is obtained
*    from Adobe Systems Incorporated.
*
*/-->
{{ define "leftPanel" }}&nbsp;{{ end }}
{{ define "rightPanel" }}&nbsp;{{ end }}
{{ define "main" }}
<div class="">
  <h1 class="coral-Heading--1"><coral-icon icon="tags" size="S"></coral-icon> {{ .Title }}</h1>
  {{ with .Params.description }}<div class="">{{ . | markdownify }}</div>{{ end }}
  {{ .Content }}
  {{ $parent := .Page }}
  {{ $tags := (where .Site.Pages "Section" "tags").ByWeight }}
    {{ range $tags }}
      {{ if eq .Parent $parent }}
        <h3 class="coral-Heading--3">
          <a class="coral-Link" href="{{ .RelPermalink }}">{{ .Title }} ({{ len .Pages }})</a>
        </h3>
      {{ end }}
    {{ end }}
  <div class="">{{ partial "page-meta-lastmod.html" . }}</div>
</div>
{{ end }}
